body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  /* Фоновая картинка */
  background: url('https://i.pinimg.com/736x/49/e1/06/49e106d8647da6e653de71f2d7df3d60.jpg') no-repeat center center;
  
  /* Размер картинки */
  background-size: 120% auto;   /* увеличиваем ширину до 120%, высота подстраивается */
  
  /* Позиция */
  background-position: center center; /* центрируем по экрану */
  
  /* Фон движется при прокрутке */
  background-attachment: scroll;

  color: white;
}
