body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  /* фон из Pinterest */
  background: url('https://i.pinimg.com/736x/2f/32/85/2f3285a9ce2783455189092ae5319311.jpg') repeat;
  background-size: cover;        /* растянуть по экрану */
  background-position: center;    /* центрировать */
  background-attachment: fixed;   /* фон не двигается при прокрутке */
  color: white;                   /* белый текст */
}
