body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: url('https://i.pinimg.com/736x/db/af/b5/dbafb525000c4efc6e8ecadecf708919.jpg') no-repeat center center fixed;
  background-size: contain; /* картинка полностью помещается */
  background-position: center;
  background-attachment: fixed;

  color: white;
}
